name: Port Action Workflow

on:
  workflow_dispatch:
    inputs:
      run_id:
        required: true
      entity:
        required: true

jobs:
  port_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
